In [6]:
import re
str="The rain in Spain"
import re

In [8]:
x=re.search("^The.*Spain$",str)

In [9]:
x

In [10]:
re.findall("rain",str)

['rain']

In [16]:
import re
txt="The cloud in sky"
x=re.sub("\s","9",txt,3)

In [17]:
x

'The9cloud9in9sky'

In [19]:
pxt="The rain in India"
x=re.split("\s",pxt)

In [20]:
x

['The', 'rain', 'in', 'India']

In [27]:
y=re.split("\s",pxt,2)

In [28]:
y

['The', 'rain', 'in India']

In [43]:
import re
urt="The sun in sky"
x=re.findall("\AThe",urt)
if x:
    print("yes there is a match")
else:
     print("no match")

yes there is a match

In [47]:
import re
urt="The sun in sky"
x=re.findall("mi$",urt)
if x:
    print("yes there is a match")
else:
     print("no match")

no match