In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sb

In [3]:
samples = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", sep=',',header=None)
print(samples)
samples.shape
varieties=pd.DataFrame(samples.iloc[:,0])
print(varieties)
kmeans=KMeans(n_clusters=3)
varieties['labels']=kmeans.fit_predict(samples)
varieties['labels']+=1
pd.crosstab(varieties.iloc[:,0],varieties['labels'])

     0      1     2     3     4    5     6     7     8     9      10    11  \
0     1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29   5.64  1.04
1     1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28   4.38  1.05
2     1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81   5.68  1.03
3     1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18   7.80  0.86
4     1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82   4.32  1.04
..   ..    ...   ...   ...   ...  ...   ...   ...   ...   ...    ...   ...
173   3  13.71  5.65  2.45  20.5   95  1.68  0.61  0.52  1.06   7.70  0.64
174   3  13.40  3.91  2.48  23.0  102  1.80  0.75  0.43  1.41   7.30  0.70
175   3  13.27  4.28  2.26  20.0  120  1.59  0.69  0.43  1.35  10.20  0.59
176   3  13.17  2.59  2.37  20.0  120  1.65  0.68  0.53  1.46   9.30  0.60
177   3  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35   9.20  0.61

       12    13
0    3.92  1065
1    3.40  1050
2    3.17  1185
3    3.45  1480
4    2.93   735
..    ...   ...
173  1.74   740
174  1.56   750
175  1.56   835
176  1.62   840
177  1.60   560

[178 rows x 14 columns]
     0
0    1
1    1
2    1
3    1
4    1
..  ..
173  3
174  3
175  3
176  3
177  3

[178 rows x 1 columns]

labels   1   2   3
0
1        0  46  13
2       50   1  20
3       19   0  29